* {  margin: 0;  padding: 0;  box-sizing: border-box; }
ul,ol{ list-style: none; }
.icon {  width: 1em;  height: 1em;  vertical-align: -0.15em;  fill: currentColor;}
html { min-width: 100px;}
body {  overflow: hidden;}
header {  padding: .06rem .1rem; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid rgb(243, 243, 243)}
canvas {  display: block;  position: relative;}
svg.tool { width: .3rem;  height: .3rem;  margin-right: .18rem;  display: inline-block;  border-radius: 35%;}
svg.tool:hover {  background: rgb(222, 222, 222);  cursor: pointer;}
#clear:hover { fill: red !important; }
.currentTool { fill: rgb(26, 159, 255); }
.header-left {  display: flex;  justify-content: center;  align-items: center;}
.header-middle {  display: flex;  align-items: center; position: relative;padding-right: .3rem; }
div.size {  font-size: .16rem;  cursor: pointer; margin-right: .2rem;}
div.point {  width: .09rem;  height: .09rem;  border-radius: 50%;  margin: 0 auto;  background-color: black;}
@media (max-width: 620px) {
  svg.tool { width: 1rem;  height: 1rem; }
  ul.color{
    display: none;
  }
  .header-middle { padding-right: .9rem; }
  svg#colorSelectorIcon,input#colorSelector { width: .9rem; height: .9rem; }
  div.point { width: .2rem; height: .2rem;}
  div.size {  font-size: .5rem; }

}
ul.color li{  float: left; cursor: pointer; border-radius: 50%;  width: .3rem;  height: .3rem;  padding: 1px;  border: 1px solid rgba(192, 192, 192, 0.8);  margin-right: .1rem;}
ul.color li#red {background: red;}
ul.color li#gray {background: gray;}
ul.color li#blue {background: blue;}
ul.color li#black {background: black;}
ul.color li#yellow {background: yellow;}
input#colorSelector { position: absolute; right: 0; width: .3rem;  height: .3rem; z-index: 99; opacity: 0; cursor: pointer;}
#colorSelectorIcon {width: .3rem;  height: .3rem; z-index: -1; position: absolute; right: 0; cursor: pointer;}
.clearfix::after { content: '';  display: block;  clear: both;}